{% extends 'uploader/base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="mt-2">
            <h2>Please choose excel file to upload contacts</h2>
            <form method="post" action="{% url 'home' %}" enctype="multipart/form-data" class="mt-4">
                {% csrf_token %}
                <div class="form-group">
                    <input type="file" class="form-control-file border" name="excel_file">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>


        <div class='progress-wrapper'>
            <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
        </div>
        <div id="progress-bar-message">Waiting for progress to start...</div>
{#        <div id="celery-result"></div>#}

        {% if error %}
            {{ error }}
        {% endif %}
        {% if status %}
            {{ status }}
        {% endif %}
        {% if task %}
            {{ task }}
        {% endif %}
    </div>
{% endblock %}